<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<div>
    <form action="/api/productos" method="POST">
        <fieldset class="justify-content-center text-center mt-4 fw-bold fs-4">DATOS DEL PRODUCTO
            <br><br>
            <label class="form-label mt-4" for="title">
                <input class="form-control" type="text" id="title" name="title" placeholder="Ingrese nombre producto">
            </label>
            <br><br>
            <label class="form-label mt-4" for="price">
                <input class="form-control" type="number" id="price" name="price" placeholder="Ingrese precio">
            </label>
            <br><br>
            <button class="btn btn-success" type="submit" id="form">Enviar</button>
        </fieldset>
    </form>
</div>